.AdminContact {
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
  }

  .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

  .IconButton {
    display: inline-block;
    border: none;
    height: 35px;
    margin: 0;
    text-decoration: none;
    background: grey;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .AddButton {
    margin-bottom: 15px;
  }
  .RemoveButton {
    margin-left: 10px;
  }
  .ContactGroup {
    display: flex;
    flex-direction: row;
  }

  .Labeledgroup {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
