.Upload {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .Border {
    border: var(--borderwidth) solid var(--colorborder);
    border-radius: var(--borderradius);
  }

  .UploadHeader {
    height: 40px;
    padding: var(--paddinginput);
    align-items: center;
    display: flex;
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    color: white;

    &.StyleUploadIndeterminate {
      background-color: var(--coloraction);
    }
  }

  .UploadIndeterminate {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 1;
    flex-grow: 1;
  }

  .UploadUrl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: var(--colordefault);
    .UploadUrlOver {
      display: block;
      cursor: pointer;
    }
    .UploadUrlOut {
      display: none;
    }
  }

  .UploadActionButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    input {
      display: none;
    }
  }

  .UploadBodyHeader {
    padding: var(--paddinginput);
    background-color: var(--colorbackground);
    border-top: var(--borderwidth) solid var(--colorborder);
    border-bottom: var(--borderwidth) solid var(--colorborder);

    color: var(--colordefault);

    display: flex;
    flex-direction: column;
    .HeaderRow {
      display: flex;
      flex-direction: row;
      flex-basis: 1;
      flex-grow: 1;
      align-items: center;
    }

    .LabelName {
      font-size: var(--fontsizedefault);
    }
  }

  .UploadBody {
    padding: var(--paddinginput);
    color: var(--colordefault);
    font-size: var(--fontsizedefault);
  }

  .NavigateUpOneFolder {
    margin-left: 37px;
  }

  .FlexGroupRow {
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--margindefault) * 0.5);
    flex-basis: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .FlexEnd {
    justify-content: flex-end;
  }

  .Divider {
    padding: calc(var(--paddinginput));
  }

  .Errors {
    padding-top: calc(var(--paddinginput));
    padding-bottom: calc(var(--paddinginput));
    color: red;
    display: flex;
  }
}
