.Upload {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .Border {
    border: var(--borderwidth) solid var(--colorborder);
    border-radius: var(--borderradius);
  }

  .UploadHeader {
    height: 40px;
    padding: var(--paddinginput);
    align-items: center;
    display: flex;
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    color: white;

    &.StyleUploadIndeterminate {
      background-color: var(--coloraction);
    }
  }

  .UploadIndeterminate {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 1;
    flex-grow: 1;
  }

  .UploadUrl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: var(--colordefault);
  }

  .UploadActionButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
  }

  .UploadBodyHeader {
    padding: var(--paddinginput);
    background-color: var(--colorbackground);
    border-top: var(--borderwidth) solid var(--colorborder);
    border-bottom: var(--borderwidth) solid var(--colorborder);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--colordefault);
  }

  .UploadBody {
    padding: var(--paddinginput);
  }

  .FlexGroupRow {
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--margindefault) * 0.5);
    flex-basis: 1;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .FlexEnd {
    justify-content: flex-end;
  }

  .Divider {
    padding: calc(var(--paddinginput) * 0.5);
    height: 100%;
    width: 1px;
    background-color: red;
  }
}
