.Toolbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  height: 56px;
  width: 100%;
  color: white;
  background-color: black;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}
.Toolbar nav {
  display: none;
  height: 100%;
}

@media (min-width: 500px) {
  .Toolbar {
    justify-content: flex-end;
  }

  .Toolbar nav {
    display: block;
  }
}
