.Modal {
  position: absolute;
  top: 50%;
  z-index: var(--modalzindex);
  background-color: white;
  width: 70%;
  max-width: var(--maxwidth);
  margin: 0 auto;
  left: 0;
  right: 0;
  color: var(--colordefault);
  border: 1px solid var(--colorborder);
  border-radius: var(--borderradius);
  padding: var(--paddingdefault);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
