.Modal {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: var(--paddingdefault);
  max-width: var(--maxwidth);
  z-index: var(--modalzindex);
  color: var(--colordefault);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  .Message {
    padding: var(--paddingdefault);
  }
}
