.Button {
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
}

// .Button:first-of-type {
// 	margin-left: 0;
// 	padding-left: 0;
// }

.NoStyle {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  margin: 10px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
