.Button {
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: var(--fontsizedefault);
  padding: 10px 15px;
  color: var(--colordefault);
  background-color: white;
  height: var(--inputheight);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &.NoStyle {
    background-color: transparent;
    border: none;
    color: var(--colordefault);
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: auto;
  }

  &.WithBorder {
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    background-color: white;
  }

  &.Success {
    color: #5c9210;
  }
  &.Danger {
    color: #944317;
  }
  &.Login {
    border-radius: var(--borderradius);
    color: white;
    background-color: #3897f0;
  }
}
