.Button {
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: var(--fontsizedefault);
  padding: 10px 15px;
  color: var(--colordefault);
  background-color: transparent;
  height: var(--inputheight);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &.NoStyle {
    background-color: transparent;
    border: none;
    color: var(--colordefault);
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: auto;
  }
  &.WithPadding {
    padding: var(--paddinginput);
  }

  &.CheckboxSize {
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    margin-right: 10px;
    color: white;
  }

  &.LastItemRight {
    padding-left: var(--paddinginput);
    padding-top: var(--paddinginput);
    padding-bottom: var (--paddinginput);
    padding-right: 0;
  }

  &.WithBorder {
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    background-color: white;
  }

  &.Success {
    color: var(--colorsuccess);
  }
  &.Danger {
    color: var(--colordanger);
  }

  &.Action {
    border: 1px solid white;
    border-radius: var(--borderradius);
    color: white;
    background-color: var(--coloraction);
  }
}
