.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &.WithRoundBorder {
    padding: 3px;
    border: 1px solid var(--colorborder);
    border-radius: 50%;
  }
}
