.PhonebookAdmin {
  .AddButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin-left: 5px;
    }
  }

  .ContactButtons {
    button {
      margin-left: 5px;
    }
  }

  a {
    text-decoration: 'none';
    color: 'black';
  }

  .ContactWrapper {
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font: inherit;
    box-sizing: content-box;
    color: var(--colordefault);
    cursor: default;
  }
  p {
    line-height: 18px;
  }
}
