.PhonebookAdmin {
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
  }

  .ContactButtons {
    button {
      margin-left: 5px;
    }
  }

  a {
    text-decoration: "none";
    color: "black";
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 15px;
    background-color: white;
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: default;
    color: var(--colordefault);
  }

  .Labeledgroup {
    label {
      display: block;
      color: var(--colorheader);
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
