.ModalHeader {
  h3 {
    color: var(--colorheader);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
  }
}
