.SectionHeader {
  h2 {
    color: var(--colorheader);
    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }
}
