.Input {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 15px 0;

  .Label {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }

  .InputElement {
    outline: none;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 5px;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .InputElement:focus {
    outline: none;
    background-color: #e6e6e6;
  }

  .Invalid {
    border: 1px solid red;
    background-color: #fda49a;
  }
}
