.Input {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 15px 0;

  .Label {
    color: var(--colorheader);
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }

  .InputElement {
    outline: none;
    border: 1px solid var(--colorborder);
    background-color: white;
    border-radius: var(--borderradius);
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: var(--colordefault);
  }

  .InputElement:focus {
    outline: none;
    background-color: #e6e6e6;
  }

  .Invalid {
    border: 1px solid red;
    background-color: white;
  }

  .Labeledgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    label {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  .ContactGroup {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .AddButton {
    margin-bottom: 15px;
  }
  .RemoveButton {
    margin-left: 10px;
  }
}

.Input:disabled {
  color: #e6e6e6;
  background-color: #858585;
  cursor: not-allowed;
}
