.Contact {
  display: flex;

  p {
    align-self: center;
    margin: 0px;
  }
  span {
    // border: 1px solid red;
    padding: 0px;
    font-weight: bold;
    color: var(--colorhighlight);
  }
}
