.FlexColumn {
  display: flex;
  flex-direction: column;

  &.Spacingtop {
    > * {
      padding-top: var(--paddingdefault);
    }
  }
  &.Spacingbottom {
    > * {
      padding-bottom: var(--paddingdefault);
    }
  }
}
