.FlexRow {
  display: flex;
  flex-direction: row;

  &.Spacingleft {
    > * {
      padding-left: var(--paddingdefault);
    }
  }
  &.Spacingright {
    > * {
      padding-right: var(--paddingdefault);
    }
  }
}
