.FlexRow {
  display: flex;
  flex-direction: row;
  flex-basis: 1;

  &.Flexgrow {
    flex-grow: 1;
  }
  &.Flexshrink {
    flex-shrink: 1;
  }
  &.SpacingChildrenLeft {
    > * {
      margin-left: calc(var(--margindefault) * 0.5);
    }
  }
  &.SpacingChildrenRight {
    > * {
      margin-right: calc(var(--margindefault) * 0.5);
    }
  }
  &.SpacingChildrenRightNotLast {
    > * {
      margin-right: calc(var(--margindefault) * 0.5);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.SpacingChildrenTop {
    > * {
      margin-top: calc(var(--margindefault) * 0.5);
    }
  }
  &.SpacingChildrenBottom {
    > * {
      margin-bottom: calc(var(--margindefault) * 0.5);
    }
  }

  //self
  &.SpacingLeft {
    padding-left: calc(var(--paddingdefault) * 0.5);
  }
  &.SpacingRight {
    padding-right: calc(var(--paddingdefault) * 0.5);
  }
  &.SpacingTop {
    padding-top: calc(var(--paddingdefault) * 0.5);
  }
  &.SpacingBottom {
    padding-bottom: calc(var(--paddingdefault) * 0.5);
  }
  &.SpacingBottomNotLast {
    padding-bottom: calc(var(--paddingdefault) * 0.5);
    &:last-child {
      padding-bottom: 0;
    }
  }

  &.Padding {
    padding: var(--paddingdefault);
  }
}
