.DefaultPageLayout {
  width: 100%;
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
    &.LayoutTiny {
      max-width: var(--maxwidthtiny);
    }
    &.LayoutNarrow {
      max-width: var(--maxwidthnarrow);
    }
    &.LayoutWide {
      max-width: var(--maxwidthwide);
    }
  }

  .Labeledgroup {
    display: flex;
    flex-direction: column;
    label {
      color: var(--colorheader);
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
