.HorizontalSeparator {
  color: var(--colorborder);
  display: flex;
  flex-direction: row;
  align-items: center;

  &.Padding {
    padding-top: var(--paddingdefault);
    padding-bottom: var(--paddingdefault);
  }

  .CenterElement {
    display: flex;
  }
  .DividerLine {
    border-style: solid;
    flex: 1;
    border-color: var(--colorborder);
    border-width: 1px 0 0 0;
  }
  &.Solid {
    .DividerLine {
      border-style: solid;
    }
  }
  &.Dotted {
    .DividerLine {
      border-style: dotted;
    }
  }
  &.Dashed {
    .DividerLine {
      border-style: dashed;
    }
  }
}
