%beforeafter {
  flex-grow: 1;
  content: '';
  border-top-width: 1px;
  border-color: var(--colorborder);
}

.HorizontalSeparator {
  color: var(--colorborder);
  &.WithChildren {
    &::before {
      margin-right: var(--margindefault);
    }
    &::after {
      margin-left: var(--margindefault);
    }
  }

  &.Solid {
    display: flex;
    align-items: center;
    &::before {
      @extend %beforeafter;
      border-top-style: solid;
    }
    &::after {
      @extend %beforeafter;
      border-top-style: solid;
    }
  }

  &.Dotted {
    display: flex;
    align-items: center;
    &::before {
      @extend %beforeafter;
      border-top-style: dotted;
    }
    &::after {
      @extend %beforeafter;
      border-top-style: dotted;
    }
  }

  &.Dashed {
    display: flex;
    align-items: center;
    &::before {
      @extend %beforeafter;
      border-top-style: dashed;
    }
    &::after {
      @extend %beforeafter;
      border-top-style: dashed;
    }
  }
}
