.Login {
  color: var(--colordefault);
  display: block;
  .FlexGroupRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  input[type='submit'] {
    display: none;
  }
  .ButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .SwitchButton .ButtonText {
    color: var(--colorlogin);
  }

  .Card {
    margin-bottom: var(--margindefault);
  }
}
