.Phonebook {
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  a {
    padding: 15px;
    width: 100%;
    text-decoration: none;
    color: var(--colordefault);
  }
  .Labeledgroup {
    display: flex;
    flex-direction: column;
    label {
      color: var(--colorheader);
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
