.Card {
  border: 1px solid var(--colorborder);
  border-radius: var(--borderradius);
  background-color: white;
  margin-bottom: var(--margindefault);
  .CardHeader {
    display: flex;
    justify-content: space-between;
    padding: var(--paddingdefault);
  }

  .CardBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--paddingdefault);
    form {
      width: 100%;
    }
  }

  .CardFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--paddingdefault);
    button {
      margin: 0 calc(var(--margindefault) * 0.5);
    }
  }

  &.NoPadding {
    padding: 0;
  }
}
