.Accordion {
  color: var(--colordefault);

  .AccordionItem {
    overflow-y: hidden;
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    margin-bottom: var(--margindefault);
    background-color: white;
  }
  .AccordionTitle {
    padding: var(--paddingdefault);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font: inherit;
    font-size: var(--fontsizedefault);
    font-weight: 600;
  }
  .AccordionContent {
    padding: 0 var(--paddingdefault);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    transition: all 0.5s, opacity 0.5s;
    font: inherit;
    font-size: var(--fontsizedefault);
    &.Active {
      padding: 0 var(--paddingdefault) var(--paddingdefault);
      visibility: visible;
      opacity: 1;
    }
  }
}
