.Breadcrumb {
  display: block;
  overflow: hidden;

  .BreadcrumbLink {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--colordefault);
    &:not(:first-child) {
      max-width: 100px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
