.CheckboxCollection {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent; //var(--colorborder);
  border-radius: var(--borderradius);
  &.Invalid {
    border: 1px solid red; //var(--colorborder);
    padding: 6px 10px;
  }

  .Checkbox {
    margin-bottom: calc(var(--margindefault) * 0.5);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
