.ComponentFactory {
  margin: 0 0 30px 0;
  box-sizing: border-box;
  // .Component {
  //   //drop shadow css filter should be applied at each components level
  //   // filter: var(--dropshadowdefault);
  // }
  .Label {
    color: var(--colorheader);
    font-weight: bold;
    font-size: 1em;
    display: block;
    margin-bottom: 15px;
    text-align: left;
  }
  .GroupRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
