.DraggableItem {
  border: 1px solid var(--colorborder);
  border-radius: var(--borderradius);
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: content-box;
  &.Invalid {
    border: 1px solid red;
    background-color: white;
  }

  &.Embedded {
    border: 0;
    border-bottom: 1px solid var(--colorborder);
  }

  &.Active {
    padding: var(--defaultpadding);
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--colorborder);

    .Icon {
      border-bottom-left-radius: 0;
    }
  }

  & .Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--colorbackground);
    color: var(--colordefault);
    box-sizing: border-box;
    height: auto;
    border-right: 1px solid var(--colorborder);
    border-top-left-radius: var(--borderradius);
    border-bottom-left-radius: var(--borderradius);
    cursor: s-resize;
  }
}
