.GalleryManager {
  display: flex;
  flex-direction: column;
}

.GalleryItemsWrapper {
  flex-direction: column;
  margin-bottom: calc(var(--margindefault) * 0.5);
  border: 1px solid var(--colorborder);
  border-radius: var(--borderradius);
  padding: var(--paddingdefault);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--paddingdefault) * 0.5);
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
