.GalleryItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;

  .RemoveButton {
    box-sizing: border-box;
    flex-basis: 1;
    color: var(--colordefault);
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    // border-top-right-radius: var(--borderradius);
    // border-bottom-right-radius: var(--borderradius);
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // border-left: 1px solid var(--colorborder);
    margin-left: calc(var(--margindefault) * 0.5);
  }
}
