.Input {
  display: flex;

  .Input:disabled {
    color: #e6e6e6;
    background-color: #858585;
    cursor: not-allowed;
  }

  .Invalid {
    border: 1px solid red;
    background-color: white;
  }

  .NoStyle {
    border: none;
  }
}

.InputElement {
  background-color: red;
  outline: none;
  border: 1px solid var(--colorborder);
  background-color: white;
  border-radius: var(--borderradius);
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
  color: var(--colordefault);
  flex-grow: 1;
  flex-basis: 1;
}

.InputElement:focus {
  outline: none;
  background-color: #e6e6e6;
}
