.InputWithIcon {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  border: 1px solid var(--colorborder);
  border-radius: var(--borderradius);
  //   background-color: red;

  input {
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 1;
    border: none;
    font: inherit;
    font-size: var(--fontsizedefault);
    padding: var(--paddinginput);
    color: var(--colordefault);
    &:focus {
      outline: none;
    }
    &.icon-left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--borderradius);
      border-bottom-right-radius: var(--borderradius);
    }
    &.icon-right {
      border-top-left-radius: var(--borderradius);
      border-bottom-left-radius: var(--borderradius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  //search 'x' clear button
  input[type='search']::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
  }

  svg {
    padding: var(--paddingdefault);
  }

  &.Invalid {
    border: 1px solid red;
    background-color: white;
  }

  .Divider {
    height: inherit;
    margin-top: var(--paddinginput);
    margin-bottom: var(--paddinginput);
    width: 1px;
    background-color: var(--colorborder);
    flex-shrink: 0;
    flex-basis: 1;
    &.Invalid {
      background-color: red;
    }
  }
  &:focus {
    outline: none;
    // background-color: #e6e6e6;
  }

  :disabled {
    color: #e6e6e6;
    background-color: #858585;
    cursor: not-allowed;
  }
}
