.List {
  background-color: blue;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  li {
    box-sizing: border-box;
    color: var(--colordefault);
    cursor: default;
    flex-basis: 1;
    flex-grow: 1;
    width: 100%;
    padding: none;
    background-color: transparent;
    font: inherit;
    box-sizing: content-box;
    align-items: center;
    display: flex;
    margin-bottom: calc(var(--margindefault) * 0.5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    width: 100%;
    text-decoration: none;
    color: var(--colordefault);
    &:focus {
      outline: 0;
    }
    cursor: default;
  }
}
