.MultiInputObjects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &.Invalid {
    border: 1px solid red;
    background-color: white;
  }

  .RemoveButton {
    margin-left: calc(var(--margindefault) * 0.5);
  }

  .Title {
    display: flex;
    flex-grow: 1;
    flex-basis: 1;
    padding: 0 var(--paddingdefault);
    font: inherit;
    font-size: var(--fontsizedefault);
    color: var(--colordefault);
  }

  .RowWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--margindefault) * 0.5);
  }
}
