.RangeSlider {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;

  .Slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--colorborder);
    background-color: white;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 34px;
    &:active {
      background-color: var(--colorborder);
    }
    &.Invalid {
      border: 1px solid var(--colorerror);
      background-color: white;
    }
    box-sizing: content-box;
    padding: 5px;
  }

  .Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #dedede;
    background-color: white;
    cursor: ew-resize;
    box-sizing: border-box;
  }

  .Slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-sizing: border-box;
  }

  //------------------------input box for scrollbar values
  .SliderValue {
    margin-left: calc(var(--margindefault) * 0.5);
    input {
      width: 65px;
      height: 50px;
      box-sizing: border-box;
      padding: var(--paddinginput);
      border: 1px solid var(--colorborder);
      border-radius: var(--borderradius);
      text-align: center;
      font: inherit;
      font-size: var(--fontsizedefault);
      color: var(--colordefault);
      &.Invalid {
        border: 1px solid var(--colorerror);
        background-color: white;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .FlexGroupRow {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
  }
}
