.RangeSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  .Slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 34px;
    border: 1px solid var(--colorborder);
    background: white;
    outline: none;
    // padding-left: 5px;
    // padding-right: 5px;
    -webkit-transition: 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    &:active {
      border: 1px solid var(--colorborder);
      background-color: var(--colorborder);
    }
  }

  .Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--colorborder);
    background-color: white;
    cursor: ew-resize;
  }

  .Slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
  }

  .SliderValue {
    box-sizing: border-box;
    margin-left: var(--paddingdefault);
    line-height: 20px;
    padding: 15px;
    border: 1px solid var(--colorborder);
    border-radius: var(--borderradius);
    flex-grow: 1;
    input {
      width: 60px;
      height: 20px;
      border: 0px;
      text-align: center;
      font: inherit;
      font-size: 0.9em;
      color: var(--colordefault);
      &:focus {
        outline: none;
      }
    }
  }
}
