:root {
  --maxwidth: 500px;
  --inputheight: 50px;
  --colorheader: #4e4e4e; //used for headers
  --colorhighlight: black; //highlighting - used for attracting attention to something
  --colordefault: #6e6e6e; //default font color
  --colorplaceholder: #cecece;
  // --colorborder: #e6ecf0;
  --colorborder: #dedede;
  --borderradius: 5px;
  --borderwidth: 1px;
  --paddingdefault: 20px;
  --dropshadowdefault: drop-shadow(0 1px 1px #f3f3f3);
}

select {
  height: var(--inputheight);
}

input[type='checkbox'] {
  height: 20px;
  padding: 15px;
  border: 1px solid red;
}
::placeholder {
  color: var(--colorplaceholder);
}

button,
input[type='submit'] {
  border: 1px solid var(--colorborder);
  background-color: white;
  padding: 0px 15px;
  border-radius: var(--borderradius);
  height: var(--inputheight);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

input[type='text'] {
  // cursor: pointer;
  height: var(--inputheight);
  &:focus {
    outline: 0;
  }
  outline: none;
}

input[type='reset'],
input[type='button'] {
  width: 100%;
  border: 1px solid var(--colorborder);
  background-color: white;
  padding: 0px 15px;
  border-radius: var(--borderradius);
  height: var(--inputheight);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.LabelGroupRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.LabelGroupColumn {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
