:root {
  --maxwidth: 500px;
  --inputheight: 50px;
  --lineheight: 36px;
  --colorheader: #5e5e5e; //used for headers
  --colorhighlight: black; //highlighting - used for attracting attention to something
  --colordefault: #6e6e6e; //default font color
  --colorplaceholder: #cecece;
  --colorborder: #dedede;
  --borderradius: 5px;
  --borderwidth: 1px;
  --fontsizedefault: 0.9em;
  --paddingdefault: 20px;
  --paddinginput: 10px 10px;
  --dropshadowdefault: drop-shadow(0 1px 1px #f3f3f3);
}

select {
  height: var(--inputheight);
}

input[type='checkbox'] {
  height: 20px;
  padding: 15px;
}
::placeholder {
  color: var(--colorplaceholder);
}

button,
input[type='submit'] {
  border: 1px solid var(--colorborder);
  background-color: white;
  padding: 0px 15px;
  border-radius: var(--borderradius);
  height: var(--inputheight);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

input[type='text'],
input[type='password'] {
  // cursor: pointer;
  height: var(--inputheight);
  &:focus {
    outline: 0;
  }
  outline: none;
}

input[type='reset'],
input[type='button'] {
  width: 100%;
  border: 1px solid var(--colorborder);
  background-color: white;
  padding: 0px 15px;
  border-radius: var(--borderradius);
  height: var(--inputheight);
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
