:root {
  --maxwidth: 500px;
  --inputheight: 50px;
  --lineheight: 36px;
  --colorheader: #5e5e5e; //used for headers
  --colorhighlight: black; //highlighting - used for attracting attention to something
  --colordefault: #6e6e6e; //default font color
  --colorplaceholder: #cecece;
  --colorborder: #dedede;
  --borderradius: 5px;
  --borderwidth: 1px;
  --fontsizedefault: 0.9rem;
  --paddingdefault: 20px;
  --paddinginput: 10px;
  --margindefault: 10px;
  --dropshadowdefault: drop-shadow(0 1px 1px #f3f3f3);
  --preloadersize: 25px;
  //z-index
  --modalzindex: 500;
}
::placeholder {
  color: var(--colorplaceholder);
}
