.ContactCreate {
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
  }

  .Label {
    color: var(--colorheader);
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

  .AddButton {
    margin-bottom: 15px;
  }
  .RemoveButton {
    margin-left: 10px;
  }
  .ContactGroup {
    display: flex;
    flex-direction: row;
  }

  .Labeledgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    label {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
