.ContactUpdate {
  .Wrapper {
    box-sizing: border-box;
    max-width: var(--maxwidth);
    margin: 0 auto;
  }

  .Label {
    color: var(--colorheader);
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

  input {
    cursor: text;
  }
}
